<!DOCTYPE html>
<html lang="en">

<head>
  <title>
  HTML and CSS only tabs · Xiaotong Li
</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">




<meta name="author" content="Xiaotong Li">
<meta name="description" content="Sample article showcasing shortcodes for HTML/CSS only tabs">
<meta name="keywords" content="blog,developer,personal">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="HTML and CSS only tabs"/>
<meta name="twitter:description" content="Sample article showcasing shortcodes for HTML/CSS only tabs"/>

<meta property="og:title" content="HTML and CSS only tabs" />
<meta property="og:description" content="Sample article showcasing shortcodes for HTML/CSS only tabs" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.example.com/templates/html-and-css-only-tabs/" /><meta property="article:section" content="templates" />
<meta property="article:published_time" content="2023-07-09T00:00:00+00:00" />
<meta property="article:modified_time" content="2023-07-09T00:00:00+00:00" />
<meta property="og:see_also" content="http://www.example.com/templates/markdown-syntax/" /><meta property="og:see_also" content="http://www.example.com/templates/rich-content/" /><meta property="og:see_also" content="http://www.example.com/templates/more-rich-content/" /><meta property="og:see_also" content="http://www.example.com/templates/math-typesetting/" /><meta property="og:see_also" content="http://www.example.com/templates/mermaid-support/" />





<link rel="canonical" href="http://www.example.com/templates/html-and-css-only-tabs/">


<link rel="preload" href="/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>


  
  
  <link rel="stylesheet" href="/css/coder.min.eff6eda43c09116b3909b2b933bee043653449ef21aa96bc6f1bb86ccf405ef9.css" integrity="sha256-7/btpDwJEWs5CbK5M77gQ2U0Se8hqpa8bxu4bM9AXvk=" crossorigin="anonymous" media="screen" />






  
    
    
    <link rel="stylesheet" href="/css/coder-dark.min.10a77a1787ea7c95135794620cecb28455ca2d27adea9a91b6a42d3dda57298a.css" integrity="sha256-EKd6F4fqfJUTV5RiDOyyhFXKLSet6pqRtqQtPdpXKYo=" crossorigin="anonymous" media="screen" />
  



 




<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" sizes="any">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">

<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">

<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">









</head>






<body class="preload-transitions colorscheme-auto">
  
<div class="float-container">
    <a id="dark-mode-toggle" class="colorscheme-toggle">
        <i class="fa-solid fa-adjust fa-fw" aria-hidden="true"></i>
    </a>
</div>


  <main class="wrapper">
    <nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="/">
      Xiaotong Li
    </a>
    
      <input type="checkbox" id="menu-toggle" />
      <label class="menu-button float-right" for="menu-toggle">
        <i class="fa-solid fa-bars fa-fw" aria-hidden="true"></i>
      </label>
      <ul class="navigation-list">
        
          
            <li class="navigation-item">
              <a class="navigation-link " href="/about/">About</a>
            </li>
          
            <li class="navigation-item">
              <a class="navigation-link " href="/projects/">Projects</a>
            </li>
          
            <li class="navigation-item">
              <a class="navigation-link " href="/competitions/">Competitions</a>
            </li>
          
            <li class="navigation-item">
              <a class="navigation-link " href="/interns/">Interns</a>
            </li>
          
            <li class="navigation-item">
              <a class="navigation-link " href="/contact/">Contact me</a>
            </li>
          
        
        
          
          
          
            
          
            
              
                <li class="navigation-item menu-separator">
                  <span>|</span>
                </li>
                
              
              <li class="navigation-item">
                <a href="/pt-br/"></a>
              </li>
            
          
        
      </ul>
    
  </section>
</nav>


    <div class="content">
      
  <section class="container page">
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="http://www.example.com/templates/html-and-css-only-tabs/">
          HTML and CSS only tabs
        </a>
      </h1>
    </header>

    <h2 id="shortcodes">
  Shortcodes
  <a class="heading-link" href="#shortcodes">
    <i class="fa-solid fa-link" aria-hidden="true" title="Link to heading"></i>
    <span class="sr-only">Link to heading</span>
  </a>
</h2>
<p>The following content:</p>
<div class="highlight"><pre tabindex="0" class="chroma"><code class="language-markdown" data-lang="markdown"><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tabgroup</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Hello&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">Hello World!
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Goodbye&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">Goodbye Everybody!
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tabgroup</span> <span class="p">&gt;</span>}}
</span></span></code></pre></div><p>Will generate:</p>





<div class="tabs tabs-left">
  




<style>
  .tabs input#tab-0-0:checked ~ .tab-content-0-0 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-0" id="tab-0-0" checked/>
<label for="tab-0-0" class="tab-label">Hello</label>
<div class="tab-content tab-content-0-0">
  Hello World!
</div>








<style>
  .tabs input#tab-0-1:checked ~ .tab-content-0-1 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-0" id="tab-0-1" />
<label for="tab-0-1" class="tab-label">Goodbye</label>
<div class="tab-content tab-content-0-1">
  Goodbye Everybody!
</div>




</div>



<h2 id="right-alighment">
  Right alighment
  <a class="heading-link" href="#right-alighment">
    <i class="fa-solid fa-link" aria-hidden="true" title="Link to heading"></i>
    <span class="sr-only">Link to heading</span>
  </a>
</h2>
<p>You can also align the tabs to the right:</p>
<div class="highlight"><pre tabindex="0" class="chroma"><code class="language-markdown" data-lang="markdown"><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tabgroup</span> <span class="na">align</span><span class="o">=</span><span class="s">&#34;right&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Hello&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">Hello World!
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Goodbye&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">Goodbye Everybody!
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tabgroup</span> <span class="p">&gt;</span>}}
</span></span></code></pre></div><p>Giving you this look:</p>





<div class="tabs tabs-right">
  




<style>
  .tabs input#tab-1-0:checked ~ .tab-content-1-0 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-1" id="tab-1-0" checked/>
<label for="tab-1-0" class="tab-label">Hello</label>
<div class="tab-content tab-content-1-0">
  Hello World!
</div>








<style>
  .tabs input#tab-1-1:checked ~ .tab-content-1-1 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-1" id="tab-1-1" />
<label for="tab-1-1" class="tab-label">Goodbye</label>
<div class="tab-content tab-content-1-1">
  Goodbye Everybody!
</div>




</div>



<h2 id="markdown-content">
  Markdown content
  <a class="heading-link" href="#markdown-content">
    <i class="fa-solid fa-link" aria-hidden="true" title="Link to heading"></i>
    <span class="sr-only">Link to heading</span>
  </a>
</h2>
<p>Any valid markdown can be used inside the tab:</p>
<div class="highlight"><pre tabindex="0" class="chroma"><code class="language-markdown" data-lang="markdown"><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tabgroup</span> <span class="na">align</span><span class="o">=</span><span class="s">&#34;right&#34;</span> <span class="na">style</span><span class="o">=</span><span class="s">&#34;code&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Ruby&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="s">```ruby
</span></span></span><span class="line"><span class="cl"><span class="s"></span><span class="nb">puts</span> <span class="s1">&#39;Hello&#39;</span>
</span></span><span class="line"><span class="cl"><span class="s">```</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;Python&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="s">```python
</span></span></span><span class="line"><span class="cl"><span class="s"></span><span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Hello&#39;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="s">```</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="nt">tab</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;JavaScript&#34;</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="s">```js
</span></span></span><span class="line"><span class="cl"><span class="s"></span><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&#34;Hello&#34;</span><span class="p">);</span>
</span></span><span class="line"><span class="cl"><span class="s">```</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tab</span> <span class="p">&gt;</span>}}
</span></span><span class="line"><span class="cl">{{<span class="p">&lt;</span> <span class="p">/</span><span class="nt">tabgroup</span> <span class="p">&gt;</span>}}
</span></span></code></pre></div><p>And you get this lovely content:</p>





<div class="tabs tabs-code tabs-right">
  




<style>
  .tabs input#tab-2-0:checked ~ .tab-content-2-0 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-2" id="tab-2-0" checked/>
<label for="tab-2-0" class="tab-label">Ruby</label>
<div class="tab-content tab-content-2-0">
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-ruby" data-lang="ruby"><span class="line"><span class="cl"><span class="nb">puts</span> <span class="s1">&#39;Hello&#39;</span>
</span></span></code></pre></div>
</div>







<style>
  .tabs input#tab-2-1:checked ~ .tab-content-2-1 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-2" id="tab-2-1" />
<label for="tab-2-1" class="tab-label">Python</label>
<div class="tab-content tab-content-2-1">
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-python" data-lang="python"><span class="line"><span class="cl"><span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Hello&#39;</span><span class="p">)</span>
</span></span></code></pre></div>
</div>







<style>
  .tabs input#tab-2-2:checked ~ .tab-content-2-2 {
    display: block;
  }
</style>

<input type="radio" class="tab-input" name="tab-select-2" id="tab-2-2" />
<label for="tab-2-2" class="tab-label">JavaScript</label>
<div class="tab-content tab-content-2-2">
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-js" data-lang="js"><span class="line"><span class="cl"><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&#34;Hello&#34;</span><span class="p">);</span>
</span></span></code></pre></div>
</div>




</div>



<p>In this case <code>style=&quot;code&quot;</code> makes it look a little nicer for scenarios where
your content is purely a code block.</p>

  </article>
</section>

  

    </div>

    <footer class="footer">
  <section class="container">
    ©
    
    2024
     Xiaotong Li 
    ·
    
    Powered by <a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/" target="_blank" rel="noopener">Coder</a>.
    
  </section>
</footer>

  </main>

  

  
  
  <script src="/js/coder.min.6ae284be93d2d19dad1f02b0039508d9aab3180a12a06dcc71b0b0ef7825a317.js" integrity="sha256-auKEvpPS0Z2tHwKwA5UI2aqzGAoSoG3McbCw73gloxc="></script>
  

  

  


  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
</body>

</html>
